# Unpublished projects
bioinfx-programming-book/
bioinfx-sandbox/
bioinfx-with-python-cookbook/
gcp-for-bioinformatics/
aws-for-bioinformatics/
nextflow-practice/
snakemake-practice

# Misc
Experimental_Design_and_Data_Analysis_for_Biologists.pdf

